In [ ]:
install.packages("tidyverse");

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘textshaping’, ‘conflicted’, ‘jsonlite’, ‘ragg’


Warning message in install.packages("tidyverse"):
“installation of package ‘textshaping’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘ragg’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘tidyverse’ had non-zero exit status”

In [ ]:
library(tidyverse);

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.2
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.4     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Loading the datasets

In [ ]:
daily_activity<-read_csv("dailyActivity_merged.csv")
head(daily_activity)

Rows: 940 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): ActivityDate
dbl (14): Id, TotalSteps, TotalDistance, TrackerDistance, LoggedActivitiesDi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Id         ActivityDate TotalSteps TotalDistance TrackerDistance
1 1503960366 4/12/2016    13162      8.50          8.50
2 1503960366 4/13/2016    10735      6.97          6.97
3 1503960366 4/14/2016    10460      6.74          6.74
4 1503960366 4/15/2016     9762      6.28          6.28
5 1503960366 4/16/2016    12669      8.16          8.16
6 1503960366 4/17/2016     9705      6.48          6.48
  LoggedActivitiesDistance VeryActiveDistance ModeratelyActiveDistance
1 0                        1.88               0.55
2 0                        1.57               0.69
3 0                        2.44               0.40
4 0                        2.14               1.26
5 0                        2.71               0.41
6 0                        3.19               0.78
  LightActiveDistance SedentaryActiveDistance VeryActiveMinutes
1 6.06                0                       25
2 4.71                0                       21
3 3.91                0                       30
4 2.83                0                       29
5 5.04                0                       36
6 2.51                0                       38
  FairlyActiveMinutes LightlyActiveMinutes SedentaryMinutes Calories
1 13                  328                   728             1985
2 19                  217                   776             1797
3 11                  181                  1218             1776
4 34                  209                   726             1745
5 10                  221                   773             1863
6 20                  164                   539             1728

In [ ]:
daily_calories<-read_csv("dailyCalories_merged.csv")
head(daily_calories)

Rows: 940 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): ActivityDay
dbl (2): Id, Calories

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Id         ActivityDay Calories
1 1503960366 4/12/2016   1985
2 1503960366 4/13/2016   1797
3 1503960366 4/14/2016   1776
4 1503960366 4/15/2016   1745
5 1503960366 4/16/2016   1863
6 1503960366 4/17/2016   1728

In [ ]:
daily_calories<-read_csv("dailyCalories_merged.csv")
head(daily_calories)

Rows: 940 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): ActivityDay
dbl (2): Id, Calories

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Id         ActivityDay Calories
1 1503960366 4/12/2016   1985
2 1503960366 4/13/2016   1797
3 1503960366 4/14/2016   1776
4 1503960366 4/15/2016   1745
5 1503960366 4/16/2016   1863
6 1503960366 4/17/2016   1728

In [ ]:
daily_intensities<-read_csv("dailyIntensities_merged.csv")
head(daily_intensities)

Rows: 940 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): ActivityDay
dbl (9): Id, SedentaryMinutes, LightlyActiveMinutes, FairlyActiveMinutes, Ve...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Id         ActivityDay SedentaryMinutes LightlyActiveMinutes
1 1503960366 4/12/2016    728             328
2 1503960366 4/13/2016    776             217
3 1503960366 4/14/2016   1218             181
4 1503960366 4/15/2016    726             209
5 1503960366 4/16/2016    773             221
6 1503960366 4/17/2016    539             164
  FairlyActiveMinutes VeryActiveMinutes SedentaryActiveDistance
1 13                  25                0
2 19                  21                0
3 11                  30                0
4 34                  29                0
5 10                  36                0
6 20                  38                0
  LightActiveDistance ModeratelyActiveDistance VeryActiveDistance
1 6.06                0.55                     1.88
2 4.71                0.69                     1.57
3 3.91                0.40                     2.44
4 2.83                1.26                     2.14
5 5.04                0.41                     2.71
6 2.51                0.78                     3.19

In [ ]:
daily_steps<-read_csv("dailySteps_merged.csv")
head(daily_steps)

Rows: 940 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): ActivityDay
dbl (2): Id, StepTotal

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Id         ActivityDay StepTotal
1 1503960366 4/12/2016   13162
2 1503960366 4/13/2016   10735
3 1503960366 4/14/2016   10460
4 1503960366 4/15/2016    9762
5 1503960366 4/16/2016   12669
6 1503960366 4/17/2016    9705

In [ ]:
heartrate_seconds<-read_csv("heartrate_seconds_merged.csv")
head(heartrate_seconds)

Rows: 2411930 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Time
dbl (2): Id, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Id         Time                 Value
1 2022484408 4/12/2016 7:21:00 AM  97
2 2022484408 4/12/2016 7:21:05 AM 102
3 2022484408 4/12/2016 7:21:10 AM 105
4 2022484408 4/12/2016 7:21:20 AM 103
5 2022484408 4/12/2016 7:21:25 AM 101
6 2022484408 4/12/2016 7:22:05 AM  95

In [ ]:
hourly_calories<-read_csv("hourlyCalories_merged.csv")
head(hourly_calories)

Rows: 22099 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): ActivityHour
dbl (2): Id, Calories

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Id         ActivityHour          Calories
1 1503960366 4/12/2016 12:00:00 AM 81
2 1503960366 4/12/2016 1:00:00 AM  61
3 1503960366 4/12/2016 2:00:00 AM  59
4 1503960366 4/12/2016 3:00:00 AM  47
5 1503960366 4/12/2016 4:00:00 AM  48
6 1503960366 4/12/2016 5:00:00 AM  48

In [ ]:
hourly_intensities<-read_csv("hourlyIntensities_merged.csv")
head(hourly_intensities)

Rows: 22099 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): ActivityHour
dbl (3): Id, TotalIntensity, AverageIntensity

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Id         ActivityHour          TotalIntensity AverageIntensity
1 1503960366 4/12/2016 12:00:00 AM 20             0.333333
2 1503960366 4/12/2016 1:00:00 AM   8             0.133333
3 1503960366 4/12/2016 2:00:00 AM   7             0.116667
4 1503960366 4/12/2016 3:00:00 AM   0             0.000000
5 1503960366 4/12/2016 4:00:00 AM   0             0.000000
6 1503960366 4/12/2016 5:00:00 AM   0             0.000000